{{- $k := .Values.hostSelectorLabel.key -}}
{{- $v := .Values.hostSelectorLabel.value -}}
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-host-ingress
spec:
  selector: {{ printf "%s == '%s'" $k $v | quote }}
  types:
    - Ingress
  order: {{ .Values.orders.allowLocal }}
  ingress:
{{- if .Values.allowAllFromLocalNetworks }}
    - action: Allow
      source:
        nets:
{{- range .Values.localNetworks }}
          - {{ . | quote }}
{{- end }}
{{- end }}

---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-all-from-node-ips
spec:
  selector: {{ printf "%s == '%s'" $k $v | quote }}
  types:
    - Ingress
  order: {{ .Values.orders.allowNodes }}
  ingress:
    - action: Allow
      source:
        nets:
{{- range .Values.allowAllFromNodeIPs }}
          - {{ . | quote }}
{{- end }}

---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-ssh-from-admin-ips
spec:
  selector: {{ printf "%s == '%s'" $k $v | quote }}
  types:
    - Ingress
  order: {{ .Values.orders.allowSSH }}
  ingress:
    - action: Allow
      protocol: TCP
      source:
        nets:
{{- range .Values.allowSSHFrom }}
          - {{ . | quote }}
{{- end }}
      destination:
        ports:
          - 22

---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-443-6443-from-specific
spec:
  selector: {{ printf "%s == '%s'" $k $v | quote }}
  types:
    - Ingress
  order: {{ .Values.orders.allow443_6443 }}
  ingress:
    - action: Allow
      protocol: TCP
      source:
        nets:
{{- range .Values.allow443And6443From }}
          - {{ . | quote }}
{{- end }}
      destination:
        ports:
          - 443
          - 6443
