{{- $k := .Values.hostSelectorLabel.key -}}
{{- $v := .Values.hostSelectorLabel.value -}}
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: deny-ssh-except-explicit-allows
spec:
  selector: {{ printf "%s == '%s'" $k $v | quote }}
  types: [Ingress]
  order: {{ .Values.orders.denySSH }}
  ingress:
    - action: Deny
      protocol: TCP
      destination:
        ports: [22]
---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: deny-6443-except-explicit-allows
spec:
  selector: {{ printf "%s == '%s'" $k $v | quote }}
  types: [Ingress]
  order: {{ .Values.orders.deny6443 }}
  ingress:
    - action: Deny
      protocol: TCP
      destination:
        ports: [6443]
